@model IEnumerable<DataObjectsLayer.Movie>

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MovieTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MovieDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MovieTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MovieDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditMovie", new { id=item.MovieID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MovieID})
        </td>
    </tr>
}

</table>
